%form{:method => "post", :action => "/shorten"}
	#shorten
		%label{:for => "url_input"} URL:
		%input{:type => "text", :name => "url", :id => "url_input"}
		%input{:type => "submit", :value => "Shorten!"}