#new_link_form
	%form{:method => "post", :action => "/shorten", :id => "shorten_form"}
		#shorten
			%label{:for => "url_input"} URL:
			%input{:type => "text", :name => "url", :id => "url_input"}
			%span.submit 
				%a →
		.tip.tip1
			Paste the link and press «Enter» to shorten your URL.
		.tip.tip2
			- if logged_in?
				Hi, #{current_user.email}. <a href="/mine">Your links</a> | <a href="/logout">Logout</a>
			- else
				Registered user? <a href="/login">Sign in</a> or <a href="/signup">Sign up</a>.
