#new_link_form
	%form{:method => "post", :action => "/shorten", :id => "shorten_form"}
		#shorten
			%label{:for => "url_input"} URL:
			%input{:type => "text", :name => "url", :id => "url_input"}
			%span.submit 
				%a →
		#tip Paste the link and press «Enter» to shorten your URL.