#new_link_form
	%form{:method => "post", :action => "/shorten", :id => "shorten_form"}
		#shorten
			%label{:for => "url_input"} URL:
			%input{:type => "text", :name => "url", :id => "url_input"}
			%span.submit 
				%a →
		#tip 
			Paste the link and press «Enter» to shorten your URL. 
			- if logged_in?
				<a href="/logout">Logout</a>.
			- else
				Registered user? <a href="/login">Sign in</a>.
